.nominator-strategy {
  .main-color {
    color: $color-main;
  }

  .grey {
    color: $color-1;
  }

  .orange {
    color: #fa6900;
  }

  .f-24 {
    font-size: 24px;
  }

  .f-16 {
    font-size: 16px;
  }

  .fontw5 {
    font-weight: 500;
  }

  .m-b-7 {
    margin-bottom: 7px;
  }

  .table-comp-wrap {
    margin-top: 15px;
    // padding-left: 15px;
    width: 100%;
    box-shadow: 0px 8px 22px 0px rgba(227, 237, 255, 1);
    border-radius: 10px;
    overflow: hidden;

    .loading-btn {
      height: 60px;
      text-align: center;
      line-height: 60px;
      cursor: pointer;
    }

    .table-header-cell {
      color: $color-1;
      border-bottom: none;
    }

    .table-col-1 {
      display: flex;
      align-items: center;
      flex-grow: 1;
      position: relative;

      .grey {
        color: $color-1 !important;
      }
    }

    .name-address {
      margin-left: 23px;
      color: $color-main;

      & > div:nth-of-type(1) {
        font-size: 14px;
        font-weight: 600;
        white-space: nowrap;
      }

      & > div:nth-of-type(2) {
        font-size: 12px;
      }
    }
  }

  .table-row-class-grey * {
    color: $color-1 !important;
  }

  .table-header-cell {
    color: $color-1;
    border-bottom: none;

    &:nth-of-type(5) {
      padding-right: 20px;
    }
  }

  .table-body-cell {
    color: $color-main;
    padding: 7px 0;

    &:nth-of-type(5) {
      padding-right: 20px;
    }
  }

  .el-table::before {
    background: transparent;
  }
}

html.desktop {
  .nominator-strategy {
    margin: auto;
    padding: 40px 0 102px;
    width: 1200px;

    .title {
      margin-bottom: 12px;
      padding-left: 24px;
      height: 62px;
      line-height: 62px;
      background: #e9effd;
      border-radius: 6px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;

      & > span:nth-of-type(1) {
        margin-right: 10px;
        color: $color-2;
        font-size: 22px;
      }
    }

    .card {
      padding: 60px 124px 90px;
      width: 1200px;
      min-height: 666px;
      background: #fbfcff;

      &-title {
        margin-bottom: 26px;
        color: $color-main;
        font-size: 16px;
        font-weight: 500;
      }

      &-input-wrap {
        display: flex;
        align-items: center;
        padding: 0 4px 0 20px;
        height: 48px;
        background: #fff;
        box-shadow: 0px 10px 20px 0px #e3edff;
        border-radius: 2px;

        .icon {
          width: 20px;
        }

        .input {
          flex: 1;
          padding-left: 20px;
          color: $color-main;
          font-size: 16px;
          border: none;
          outline: none;
        }
        @include input-placeholder($color-1);

        .btn {
          width: 128px;
          background: $color-2;
          border: none;
        }

        .btn.disabled {
          background: #909399;
        }
      }

      .no-data {
        margin-top: 56px;
        margin-left: 20px;
        color: $color-main;
      }
    }

    .card-tips {
      margin-top: 40px;
      display: flex;
      align-items: center;
      height: 108px;
      background: #fff;

      .daily-income {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 36px 0 20px;
      }

      .left > p:first-child {
        line-height: 40px;
      }

      .year-income {
        padding: 0 27px;
        flex-basis: 145px;
        text-align: right;
        border-left: 1px solid #e7eaf0;
      }
    }
  }
}

html.mobile {
  .nominator-strategy {
    margin: auto;
    padding: 20px 0 102px;
    width: 100%;

    .title {
      margin: 0 16px 12px;
      padding: 0 16px;
      height: 62px;
      line-height: 62px;
      background: #e9effd;
      border-radius: 6px;
      font-size: 16px;
      font-weight: 500;

      & > span:nth-of-type(1) {
        margin-right: 10px;
        color: $color-2;
        font-size: 22px;
      }
    }

    .card {
      margin: 0 8px;
      padding: 45px 16px;
      min-height: 387px;
      text-align: center;
      background: #fbfcff;

      &-title {
        margin-bottom: 26px;
        color: $color-main;
        font-size: 16px;
        font-weight: 500;
      }

      &-input-wrap {
        display: flex;
        align-items: center;
        padding-left: 20px;
        height: 48px;
        background: #fff;
        box-shadow: 0px 10px 20px 0px #e3edff;
        border-radius: 2px;

        .icon {
          width: 20px;
        }

        .input {
          padding-left: 20px;
          width: 710px;
          color: $color-main;
          font-size: 16px;
          border: none;
          outline: none;
        }
        @include input-placeholder($color-1);
      }

      .btn {
        margin-top: 20px;
        width: 100%;
        background: $color-2;
        border: none;
      }

      .btn.disabled {
        background: #909399;
      }

      .no-data {
        margin-top: 56px;
        margin-left: 20px;
        color: $color-main;
      }
    }

    .card-tips {
      margin-top: 40px;
      // height: 108px;

      .top {
        text-align: left;
      }

      .income {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
        width: 100%;
        padding: 10px 0;
        background: #fff;
      }

      .daily-income {
        padding-left: 20px;
        width: 60%;
        text-align: left;
        line-height: 24px;

        & > p:last-child {
          margin-top: 5px;
        }
      }

      // .left>p:first-child {
      //   line-height: 40px;
      // }

      .year-income {
        padding-right: 20px;
        width: 40%;
        text-align: right;
        border-left: 1px solid #e7eaf0;
      }
    }
  }
}
