//
//---------------------------------- H5
.pc-footer,
.h5-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  background: $color-4;
  color: $color-3;
  a {
    color: $color-3;
  }
}

html.mobile {
  .h5-footer {
    width: 100%;
    height: $height-h5-footer;
    padding: 3vh 3%;

    p {
      display: flex;
      font-size: 12px;
    }

    & > p:nth-of-type(1) {
      margin-bottom: 10px;

      a:first-child {
        margin-right: 15px;
      }
    }

    a {
      font-size: 12px;
    }
  }
}

// ---------------------------------- PC

html.desktop {
  .pc-footer {
    padding-top: 50px;
    width: 100%;
    min-width: $width-pc-container;
    height: $height-pc-footer;

    &-wrapper {
      display: flex;
      align-items: center;
      margin: auto;
      min-width: 1200px;
      max-width: 1920px;
      width: 80%;

      .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 72px;
        .split-line {
          margin: 0 20px;
          width: 1px;
          height: 18px;
          background: $color-3;
        }
        .logo {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 45px;
          height: 35px;

          a {
            display: flex;
            align-items: center;
            height: 100%;
            text-align: center;
          }
          .home {
            font-size: 18px;
            font-weight: 600;
            color: $color-3;
            line-height: 25px;
          }
          img {
            width: 147px;
            height: 35px;
            margin-right: 6px;
          }
        }
        .copyright {
          color: $color-10;
        }
      }

      .center {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        min-width: 120px;

        .item {
          min-width: 120px;
          font-size: 14px;

          .title {
            margin-bottom: 6px;
            line-height: 24px;
            font-size: 12px;
            color: $color-10;
          }

          a {
            display: block;
            font-size: 12px;
            line-height: 20px;
          }
        }
      }

      .right {
        font-size: 12px;
        align-self: flex-start;
        .title {
          margin-bottom: 6px;
          line-height: 24px;
          font-size: 12px;
          color: $color-10;
        }
      }
    }
  }
}
