*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

body {
  font-family: $font-family;
  font-size: 14px;
  min-height: 100%;
  color: $color-main;
}

html.desktop {
  body {
    line-height: 20px;
    padding-top: $height-pc-navi;
  }
}

html.mobile {
  body {
    line-height: 1.6;
    padding-top: $height-h5-navi;
  }
}

// 消除子元素 margin-top 对 body 的影响
#app::before,
body::before {
  content: '';
  display: table;
}

ul,
li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  outline: none;
}

p {
  margin: 0;
}

a {
  color: #628ee7;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: all 0.3s;
  outline: none;

  &:hover {
    cursor: pointer;
    color: $color-2;
    transition: all 0.3s;
  }
}

i {
  font-style: normal;
}

input {
  -webkit-appearance: none;
}

hr {
  border: none;
  border-bottom: dotted 1px rgba(#8493b3, 0.3);
}

table {
  th {
    font-weight: 500;
  }
}

// ::-webkit-input-placeholder { /* WebKit browsers */
//   color: $color-light-3;
// }
// :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
//   color: $color-light-3;
// }
// ::-moz-placeholder { /* Mozilla Firefox 19+ */
//   color: $color-light-3;
// }
// :-ms-input-placeholder { /* Internet Explorer 10+ */
//   color: $color-light-3;
// }
