$font-family: Open Sans, Helvetica Neue, Helvetica, PingFang SC, Microsoft YaHei,
  Tahoma, Arial;

$width-pc: 90%;
$width-pc-container: 1200px;
$width-h5: 94%;

$height-pc-navi: 56px;
$height-h5-navi: 56px;

$height-pc-footer: 187px;
$height-h5-footer: 100px;

$color-main: #1c1f44;
$color-1: #76788f;
$color-2: #5f6eff;
$color-3: #babbc4;
$color-4: #091632;
$color-5: #f8f9fc;
$color-6: #e7ecf7;
$color-7: #f6f7ff;
$color-8: #d8d8d8;
$color-9: #48cbbb;
$color-10: #525968;

@mixin input-placeholder($color) {
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: $color;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $color;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $color;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: $color;
  }
}
