$font-family: Open Sans,
PingFangSC-Regular,
PingFang SC,
'helvetica neue',
arial,
'hiragino sans gb',
'microsoft yahei ui',
'microsoft yahei',
simsun,
sans-serif;

$width-pc: 90%;
$width-pc-container: 1200px;
$width-h5: 94%;

$height-pc-navi: 50px;
$height-h5-navi: 50px;

$height-pc-footer: 187px;
$height-h5-footer: 100px;